name: 'data'
cycleMarkers: [
	{
		type: 'option'
		value: [
			'get'
			'merge'
			'modify'
			'remove'
		]
		change:
			get: [
				{
					include : "nbt-location"
				}
				{
					type: 'string'
					value: 'path'
					optional: true
				}
				{
					type: 'string'
					value: 'scale'
					optional: true
				}
				{
					type: 'end'
				}
			]
			merge: [
				{
					include : "nbt-location"
				}
				{
					type: 'nbt'
					value: 'nbt'
				}
				{
					type: 'end'
				}
			]
			modify: [
				{
					include : "nbt-location"
				}
				{
					type: 'string'
					value: 'path'
					optional: true
				}
				{
					type: 'option'
					value: [
						'append'
						'insert'
						'merge'
						'prepend'
						'set'
					]
					change:
						insert: [
							{
								type: 'string'
								value: 'index'
							}
						]
				}
				{
					type: 'option'
					value: [
						'from'
						'value'
					]
					change:
						from: [
							{
								include : "nbt-location"
							}
							{
								type: 'string'
								value: 'path'
								optional: true
							}
						]
						value: [
							{
								type: 'string'
								value: 'value'
							}
						]
				}
			]
			remove: [
				{
					include : "nbt-location"
				}
				{
					type: 'string'
					value: 'path'
				}
				{
					type: 'end'
				}
			]
	}
]
