[
	'minecraft:adventure/adventuring_time'
	'minecraft:adventure/kill_a_mob'
	'minecraft:adventure/kill_all_mobs'
	'minecraft:adventure/root'
	'minecraft:adventure/shoot_arrow'
	'minecraft:adventure/sleep_in_bed'
	'minecraft:adventure/sniper_duel'
	'minecraft:adventure/summon_iron_golem'
	'minecraft:adventure/totem_of_undying'
	'minecraft:adventure/trade'
	'minecraft:end/dragon_breath'
	'minecraft:end/dragon_egg'
	'minecraft:end/elytra'
	'minecraft:end/enter_end_gateway'
	'minecraft:end/find_end_city'
	'minecraft:end/kill_dragon'
	'minecraft:end/levitate'
	'minecraft:end/respawn_dragon'
	'minecraft:end/root'
	'minecraft:husbandry/balanced_diet'
	'minecraft:husbandry/break_diamond_hoe'
	'minecraft:husbandry/bred_all_animals'
	'minecraft:husbandry/breed_an_animal'
	'minecraft:husbandry/plant_seed'
	'minecraft:husbandry/root'
	'minecraft:husbandry/tame_an_animal'
	'minecraft:nether/all_effects'
	'minecraft:nether/all_potions'
	'minecraft:nether/brew_potion'
	'minecraft:nether/create_beacon'
	'minecraft:nether/create_full_beacon'
	'minecraft:nether/fast_travel'
	'minecraft:nether/find_fortress'
	'minecraft:nether/get_wither_skull'
	'minecraft:nether/obtain_blaze_rod'
	'minecraft:nether/return_to_sender'
	'minecraft:nether/root'
	'minecraft:nether/summon_wither'
	'minecraft:nether/uneasy_alliance'
	'minecraft:recipes/brewing/blaze_powder'
	'minecraft:recipes/brewing/brewing_stand'
	'minecraft:recipes/brewing/cauldron'
	'minecraft:recipes/brewing/fermented_spider_eye'
	'minecraft:recipes/brewing/glass_bottle'
	'minecraft:recipes/brewing/golden_carrot'
	'minecraft:recipes/brewing/magma_cream'
	'minecraft:recipes/brewing/speckled_melon'
	'minecraft:recipes/building_blocks/acacia_planks'
	'minecraft:recipes/building_blocks/acacia_stairs'
	'minecraft:recipes/building_blocks/acacia_wooden_slab'
	'minecraft:recipes/building_blocks/andesite'
	'minecraft:recipes/building_blocks/birch_planks'
	'minecraft:recipes/building_blocks/birch_stairs'
	'minecraft:recipes/building_blocks/birch_wooden_slab'
	'minecraft:recipes/building_blocks/black_concrete_powder'
	'minecraft:recipes/building_blocks/black_stained_glass'
	'minecraft:recipes/building_blocks/black_stained_hardened_clay'
	'minecraft:recipes/building_blocks/black_wool'
	'minecraft:recipes/building_blocks/blue_concrete_powder'
	'minecraft:recipes/building_blocks/blue_stained_glass'
	'minecraft:recipes/building_blocks/blue_stained_hardened_clay'
	'minecraft:recipes/building_blocks/blue_wool'
	'minecraft:recipes/building_blocks/bone_block'
	'minecraft:recipes/building_blocks/bookshelf'
	'minecraft:recipes/building_blocks/brick_block'
	'minecraft:recipes/building_blocks/brick_slab'
	'minecraft:recipes/building_blocks/brick_stairs'
	'minecraft:recipes/building_blocks/brown_concrete_powder'
	'minecraft:recipes/building_blocks/brown_stained_glass'
	'minecraft:recipes/building_blocks/brown_stained_hardened_clay'
	'minecraft:recipes/building_blocks/brown_wool'
	'minecraft:recipes/building_blocks/chiseled_quartz_block'
	'minecraft:recipes/building_blocks/chiseled_red_sandstone'
	'minecraft:recipes/building_blocks/chiseled_sandstone'
	'minecraft:recipes/building_blocks/chiseled_stonebrick'
	'minecraft:recipes/building_blocks/clay'
	'minecraft:recipes/building_blocks/coal_block'
	'minecraft:recipes/building_blocks/coarse_dirt'
	'minecraft:recipes/building_blocks/cobblestone_slab'
	'minecraft:recipes/building_blocks/cyan_concrete_powder'
	'minecraft:recipes/building_blocks/cyan_stained_glass'
	'minecraft:recipes/building_blocks/cyan_stained_hardened_clay'
	'minecraft:recipes/building_blocks/cyan_wool'
	'minecraft:recipes/building_blocks/dark_oak_planks'
	'minecraft:recipes/building_blocks/dark_oak_stairs'
	'minecraft:recipes/building_blocks/dark_oak_wooden_slab'
	'minecraft:recipes/building_blocks/dark_prismarine'
	'minecraft:recipes/building_blocks/diamond_block'
	'minecraft:recipes/building_blocks/diorite'
	'minecraft:recipes/building_blocks/emerald_block'
	'minecraft:recipes/building_blocks/end_bricks'
	'minecraft:recipes/building_blocks/glowstone'
	'minecraft:recipes/building_blocks/gold_block'
	'minecraft:recipes/building_blocks/granite'
	'minecraft:recipes/building_blocks/gray_concrete_powder'
	'minecraft:recipes/building_blocks/gray_stained_glass'
	'minecraft:recipes/building_blocks/gray_stained_hardened_clay'
	'minecraft:recipes/building_blocks/gray_wool'
	'minecraft:recipes/building_blocks/green_concrete_powder'
	'minecraft:recipes/building_blocks/green_stained_glass'
	'minecraft:recipes/building_blocks/green_stained_hardened_clay'
	'minecraft:recipes/building_blocks/green_wool'
	'minecraft:recipes/building_blocks/hay_block'
	'minecraft:recipes/building_blocks/iron_block'
	'minecraft:recipes/building_blocks/jungle_planks'
	'minecraft:recipes/building_blocks/jungle_stairs'
	'minecraft:recipes/building_blocks/jungle_wooden_slab'
	'minecraft:recipes/building_blocks/lapis_block'
	'minecraft:recipes/building_blocks/light_blue_concrete_powder'
	'minecraft:recipes/building_blocks/light_blue_stained_glass'
	'minecraft:recipes/building_blocks/light_blue_stained_hardened_clay'
	'minecraft:recipes/building_blocks/light_blue_wool'
	'minecraft:recipes/building_blocks/light_gray_concrete_powder'
	'minecraft:recipes/building_blocks/light_gray_stained_glass'
	'minecraft:recipes/building_blocks/light_gray_stained_hardened_clay'
	'minecraft:recipes/building_blocks/light_gray_wool'
	'minecraft:recipes/building_blocks/lime_concrete_powder'
	'minecraft:recipes/building_blocks/lime_stained_glass'
	'minecraft:recipes/building_blocks/lime_stained_hardened_clay'
	'minecraft:recipes/building_blocks/lime_wool'
	'minecraft:recipes/building_blocks/lit_pumpkin'
	'minecraft:recipes/building_blocks/magenta_concrete_powder'
	'minecraft:recipes/building_blocks/magenta_stained_glass'
	'minecraft:recipes/building_blocks/magenta_stained_hardened_clay'
	'minecraft:recipes/building_blocks/magenta_wool'
	'minecraft:recipes/building_blocks/magma'
	'minecraft:recipes/building_blocks/melon_block'
	'minecraft:recipes/building_blocks/mossy_cobblestone'
	'minecraft:recipes/building_blocks/mossy_stonebrick'
	'minecraft:recipes/building_blocks/nether_brick'
	'minecraft:recipes/building_blocks/nether_brick_slab'
	'minecraft:recipes/building_blocks/nether_brick_stairs'
	'minecraft:recipes/building_blocks/nether_wart_block'
	'minecraft:recipes/building_blocks/oak_planks'
	'minecraft:recipes/building_blocks/oak_stairs'
	'minecraft:recipes/building_blocks/oak_wooden_slab'
	'minecraft:recipes/building_blocks/orange_concrete_powder'
	'minecraft:recipes/building_blocks/orange_stained_glass'
	'minecraft:recipes/building_blocks/orange_stained_hardened_clay'
	'minecraft:recipes/building_blocks/orange_wool'
	'minecraft:recipes/building_blocks/pillar_quartz_block'
	'minecraft:recipes/building_blocks/pink_concrete_powder'
	'minecraft:recipes/building_blocks/pink_stained_glass'
	'minecraft:recipes/building_blocks/pink_stained_hardened_clay'
	'minecraft:recipes/building_blocks/pink_wool'
	'minecraft:recipes/building_blocks/polished_andesite'
	'minecraft:recipes/building_blocks/polished_diorite'
	'minecraft:recipes/building_blocks/polished_granite'
	'minecraft:recipes/building_blocks/prismarine'
	'minecraft:recipes/building_blocks/prismarine_bricks'
	'minecraft:recipes/building_blocks/purple_concrete_powder'
	'minecraft:recipes/building_blocks/purple_stained_glass'
	'minecraft:recipes/building_blocks/purple_stained_hardened_clay'
	'minecraft:recipes/building_blocks/purple_wool'
	'minecraft:recipes/building_blocks/purpur_block'
	'minecraft:recipes/building_blocks/purpur_pillar'
	'minecraft:recipes/building_blocks/purpur_slab'
	'minecraft:recipes/building_blocks/purpur_stairs'
	'minecraft:recipes/building_blocks/quartz_block'
	'minecraft:recipes/building_blocks/quartz_slab'
	'minecraft:recipes/building_blocks/quartz_stairs'
	'minecraft:recipes/building_blocks/red_concrete_powder'
	'minecraft:recipes/building_blocks/red_nether_brick'
	'minecraft:recipes/building_blocks/red_sandstone'
	'minecraft:recipes/building_blocks/red_sandstone_slab'
	'minecraft:recipes/building_blocks/red_sandstone_stairs'
	'minecraft:recipes/building_blocks/red_stained_glass'
	'minecraft:recipes/building_blocks/red_stained_hardened_clay'
	'minecraft:recipes/building_blocks/red_wool'
	'minecraft:recipes/building_blocks/sandstone'
	'minecraft:recipes/building_blocks/sandstone_slab'
	'minecraft:recipes/building_blocks/sandstone_stairs'
	'minecraft:recipes/building_blocks/sea_lantern'
	'minecraft:recipes/building_blocks/smooth_red_sandstone'
	'minecraft:recipes/building_blocks/smooth_sandstone'
	'minecraft:recipes/building_blocks/snow'
	'minecraft:recipes/building_blocks/spruce_planks'
	'minecraft:recipes/building_blocks/spruce_stairs'
	'minecraft:recipes/building_blocks/spruce_wooden_slab'
	'minecraft:recipes/building_blocks/stone_brick_slab'
	'minecraft:recipes/building_blocks/stone_brick_stairs'
	'minecraft:recipes/building_blocks/stone_slab'
	'minecraft:recipes/building_blocks/stone_stairs'
	'minecraft:recipes/building_blocks/stonebrick'
	'minecraft:recipes/building_blocks/string_to_wool'
	'minecraft:recipes/building_blocks/white_concrete_powder'
	'minecraft:recipes/building_blocks/white_stained_glass'
	'minecraft:recipes/building_blocks/white_stained_hardened_clay'
	'minecraft:recipes/building_blocks/yellow_concrete_powder'
	'minecraft:recipes/building_blocks/yellow_stained_glass'
	'minecraft:recipes/building_blocks/yellow_stained_hardened_clay'
	'minecraft:recipes/building_blocks/yellow_wool'
	'minecraft:recipes/combat/arrow'
	'minecraft:recipes/combat/bow'
	'minecraft:recipes/combat/diamond_boots'
	'minecraft:recipes/combat/diamond_chestplate'
	'minecraft:recipes/combat/diamond_helmet'
	'minecraft:recipes/combat/diamond_leggings'
	'minecraft:recipes/combat/diamond_sword'
	'minecraft:recipes/combat/golden_boots'
	'minecraft:recipes/combat/golden_chestplate'
	'minecraft:recipes/combat/golden_helmet'
	'minecraft:recipes/combat/golden_leggings'
	'minecraft:recipes/combat/golden_sword'
	'minecraft:recipes/combat/iron_boots'
	'minecraft:recipes/combat/iron_chestplate'
	'minecraft:recipes/combat/iron_helmet'
	'minecraft:recipes/combat/iron_leggings'
	'minecraft:recipes/combat/iron_sword'
	'minecraft:recipes/combat/leather_boots'
	'minecraft:recipes/combat/leather_chestplate'
	'minecraft:recipes/combat/leather_helmet'
	'minecraft:recipes/combat/leather_leggings'
	'minecraft:recipes/combat/shield'
	'minecraft:recipes/combat/spectral_arrow'
	'minecraft:recipes/combat/stone_sword'
	'minecraft:recipes/combat/wooden_sword'
	'minecraft:recipes/decorations/acacia_fence'
	'minecraft:recipes/decorations/anvil'
	'minecraft:recipes/decorations/armor_stand'
	'minecraft:recipes/decorations/birch_fence'
	'minecraft:recipes/decorations/black_banner'
	'minecraft:recipes/decorations/black_bed'
	'minecraft:recipes/decorations/black_bed_from_white_bed'
	'minecraft:recipes/decorations/black_carpet'
	'minecraft:recipes/decorations/black_stained_glass_pane'
	'minecraft:recipes/decorations/blue_banner'
	'minecraft:recipes/decorations/blue_bed'
	'minecraft:recipes/decorations/blue_bed_from_white_bed'
	'minecraft:recipes/decorations/blue_carpet'
	'minecraft:recipes/decorations/blue_stained_glass_pane'
	'minecraft:recipes/decorations/brown_banner'
	'minecraft:recipes/decorations/brown_bed'
	'minecraft:recipes/decorations/brown_bed_from_white_bed'
	'minecraft:recipes/decorations/brown_carpet'
	'minecraft:recipes/decorations/brown_stained_glass_pane'
	'minecraft:recipes/decorations/chest'
	'minecraft:recipes/decorations/cobblestone_wall'
	'minecraft:recipes/decorations/crafting_table'
	'minecraft:recipes/decorations/cyan_banner'
	'minecraft:recipes/decorations/cyan_bed'
	'minecraft:recipes/decorations/cyan_bed_from_white_bed'
	'minecraft:recipes/decorations/cyan_carpet'
	'minecraft:recipes/decorations/cyan_stained_glass_pane'
	'minecraft:recipes/decorations/dark_oak_fence'
	'minecraft:recipes/decorations/enchanting_table'
	'minecraft:recipes/decorations/end_crystal'
	'minecraft:recipes/decorations/end_rod'
	'minecraft:recipes/decorations/ender_chest'
	'minecraft:recipes/decorations/fence'
	'minecraft:recipes/decorations/flower_pot'
	'minecraft:recipes/decorations/furnace'
	'minecraft:recipes/decorations/glass_pane'
	'minecraft:recipes/decorations/gray_banner'
	'minecraft:recipes/decorations/gray_bed'
	'minecraft:recipes/decorations/gray_bed_from_white_bed'
	'minecraft:recipes/decorations/gray_carpet'
	'minecraft:recipes/decorations/gray_stained_glass_pane'
	'minecraft:recipes/decorations/green_banner'
	'minecraft:recipes/decorations/green_bed'
	'minecraft:recipes/decorations/green_bed_from_white_bed'
	'minecraft:recipes/decorations/green_carpet'
	'minecraft:recipes/decorations/green_stained_glass_pane'
	'minecraft:recipes/decorations/iron_bars'
	'minecraft:recipes/decorations/item_frame'
	'minecraft:recipes/decorations/jukebox'
	'minecraft:recipes/decorations/jungle_fence'
	'minecraft:recipes/decorations/ladder'
	'minecraft:recipes/decorations/light_blue_banner'
	'minecraft:recipes/decorations/light_blue_bed'
	'minecraft:recipes/decorations/light_blue_bed_from_white_bed'
	'minecraft:recipes/decorations/light_blue_carpet'
	'minecraft:recipes/decorations/light_blue_stained_glass_pane'
	'minecraft:recipes/decorations/light_gray_banner'
	'minecraft:recipes/decorations/light_gray_bed'
	'minecraft:recipes/decorations/light_gray_bed_from_white_bed'
	'minecraft:recipes/decorations/light_gray_carpet'
	'minecraft:recipes/decorations/light_gray_stained_glass_pane'
	'minecraft:recipes/decorations/lime_banner'
	'minecraft:recipes/decorations/lime_bed'
	'minecraft:recipes/decorations/lime_bed_from_white_bed'
	'minecraft:recipes/decorations/lime_carpet'
	'minecraft:recipes/decorations/lime_stained_glass_pane'
	'minecraft:recipes/decorations/magenta_banner'
	'minecraft:recipes/decorations/magenta_bed'
	'minecraft:recipes/decorations/magenta_bed_from_white_bed'
	'minecraft:recipes/decorations/magenta_carpet'
	'minecraft:recipes/decorations/magenta_stained_glass_pane'
	'minecraft:recipes/decorations/mossy_cobblestone_wall'
	'minecraft:recipes/decorations/nether_brick_fence'
	'minecraft:recipes/decorations/orange_banner'
	'minecraft:recipes/decorations/orange_bed'
	'minecraft:recipes/decorations/orange_bed_from_white_bed'
	'minecraft:recipes/decorations/orange_carpet'
	'minecraft:recipes/decorations/orange_stained_glass_pane'
	'minecraft:recipes/decorations/painting'
	'minecraft:recipes/decorations/pink_banner'
	'minecraft:recipes/decorations/pink_bed'
	'minecraft:recipes/decorations/pink_bed_from_white_bed'
	'minecraft:recipes/decorations/pink_carpet'
	'minecraft:recipes/decorations/pink_stained_glass_pane'
	'minecraft:recipes/decorations/purple_banner'
	'minecraft:recipes/decorations/purple_bed'
	'minecraft:recipes/decorations/purple_bed_from_white_bed'
	'minecraft:recipes/decorations/purple_carpet'
	'minecraft:recipes/decorations/purple_shulker_box'
	'minecraft:recipes/decorations/purple_stained_glass_pane'
	'minecraft:recipes/decorations/red_banner'
	'minecraft:recipes/decorations/red_bed'
	'minecraft:recipes/decorations/red_bed_from_white_bed'
	'minecraft:recipes/decorations/red_carpet'
	'minecraft:recipes/decorations/red_stained_glass_pane'
	'minecraft:recipes/decorations/sign'
	'minecraft:recipes/decorations/slime'
	'minecraft:recipes/decorations/snow_layer'
	'minecraft:recipes/decorations/spruce_fence'
	'minecraft:recipes/decorations/torch'
	'minecraft:recipes/decorations/white_banner'
	'minecraft:recipes/decorations/white_bed'
	'minecraft:recipes/decorations/white_carpet'
	'minecraft:recipes/decorations/white_stained_glass_pane'
	'minecraft:recipes/decorations/yellow_banner'
	'minecraft:recipes/decorations/yellow_bed'
	'minecraft:recipes/decorations/yellow_bed_from_white_bed'
	'minecraft:recipes/decorations/yellow_carpet'
	'minecraft:recipes/decorations/yellow_stained_glass_pane'
	'minecraft:recipes/food/beetroot_soup'
	'minecraft:recipes/food/bread'
	'minecraft:recipes/food/cake'
	'minecraft:recipes/food/cookie'
	'minecraft:recipes/food/golden_apple'
	'minecraft:recipes/food/mushroom_stew'
	'minecraft:recipes/food/pumpkin_pie'
	'minecraft:recipes/food/rabbit_stew_from_brown_mushroom'
	'minecraft:recipes/food/rabbit_stew_from_red_mushroom'
	'minecraft:recipes/misc/beacon'
	'minecraft:recipes/misc/bone_meal_from_block'
	'minecraft:recipes/misc/bone_meal_from_bone'
	'minecraft:recipes/misc/book'
	'minecraft:recipes/misc/bowl'
	'minecraft:recipes/misc/bucket'
	'minecraft:recipes/misc/coal'
	'minecraft:recipes/misc/cyan_dye'
	'minecraft:recipes/misc/diamond'
	'minecraft:recipes/misc/emerald'
	'minecraft:recipes/misc/ender_eye'
	'minecraft:recipes/misc/fire_charge'
	'minecraft:recipes/misc/gold_ingot_from_block'
	'minecraft:recipes/misc/gold_ingot_from_nuggets'
	'minecraft:recipes/misc/gold_nugget'
	'minecraft:recipes/misc/gray_dye'
	'minecraft:recipes/misc/iron_ingot_from_block'
	'minecraft:recipes/misc/iron_ingot_from_nuggets'
	'minecraft:recipes/misc/iron_nugget'
	'minecraft:recipes/misc/lapis_lazuli'
	'minecraft:recipes/misc/leather'
	'minecraft:recipes/misc/light_blue_dye_from_blue_orchid'
	'minecraft:recipes/misc/light_blue_dye_from_lapis_bonemeal'
	'minecraft:recipes/misc/light_gray_dye_from_azure_bluet'
	'minecraft:recipes/misc/light_gray_dye_from_gray_bonemeal'
	'minecraft:recipes/misc/light_gray_dye_from_ink_bonemeal'
	'minecraft:recipes/misc/light_gray_dye_from_oxeye_daisy'
	'minecraft:recipes/misc/light_gray_dye_from_white_tulip'
	'minecraft:recipes/misc/lime_dye'
	'minecraft:recipes/misc/magenta_dye_from_allium'
	'minecraft:recipes/misc/magenta_dye_from_lapis_ink_bonemeal'
	'minecraft:recipes/misc/magenta_dye_from_lapis_red_pink'
	'minecraft:recipes/misc/magenta_dye_from_lilac'
	'minecraft:recipes/misc/magenta_dye_from_purple_and_pink'
	'minecraft:recipes/misc/map'
	'minecraft:recipes/misc/melon_seeds'
	'minecraft:recipes/misc/orange_dye_from_orange_tulip'
	'minecraft:recipes/misc/orange_dye_from_red_yellow'
	'minecraft:recipes/misc/paper'
	'minecraft:recipes/misc/pink_dye_from_peony'
	'minecraft:recipes/misc/pink_dye_from_pink_tulip'
	'minecraft:recipes/misc/pink_dye_from_red_bonemeal'
	'minecraft:recipes/misc/pumpkin_seeds'
	'minecraft:recipes/misc/purple_dye'
	'minecraft:recipes/misc/red_dye_from_beetroot'
	'minecraft:recipes/misc/red_dye_from_poppy'
	'minecraft:recipes/misc/red_dye_from_rose_bush'
	'minecraft:recipes/misc/red_dye_from_tulip'
	'minecraft:recipes/misc/slime_ball'
	'minecraft:recipes/misc/stick'
	'minecraft:recipes/misc/sugar'
	'minecraft:recipes/misc/wheat'
	'minecraft:recipes/misc/writable_book'
	'minecraft:recipes/misc/yellow_dye_from_dandelion'
	'minecraft:recipes/misc/yellow_dye_from_sunflower'
	'minecraft:recipes/redstone/acacia_door'
	'minecraft:recipes/redstone/acacia_fence_gate'
	'minecraft:recipes/redstone/birch_door'
	'minecraft:recipes/redstone/birch_fence_gate'
	'minecraft:recipes/redstone/comparator'
	'minecraft:recipes/redstone/dark_oak_door'
	'minecraft:recipes/redstone/dark_oak_fence_gate'
	'minecraft:recipes/redstone/daylight_detector'
	'minecraft:recipes/redstone/dispenser'
	'minecraft:recipes/redstone/dropper'
	'minecraft:recipes/redstone/fence_gate'
	'minecraft:recipes/redstone/heavy_weighted_pressure_plate'
	'minecraft:recipes/redstone/hopper'
	'minecraft:recipes/redstone/iron_door'
	'minecraft:recipes/redstone/iron_trapdoor'
	'minecraft:recipes/redstone/jungle_door'
	'minecraft:recipes/redstone/jungle_fence_gate'
	'minecraft:recipes/redstone/lever'
	'minecraft:recipes/redstone/light_weighted_pressure_plate'
	'minecraft:recipes/redstone/noteblock'
	'minecraft:recipes/redstone/observer'
	'minecraft:recipes/redstone/piston'
	'minecraft:recipes/redstone/redstone'
	'minecraft:recipes/redstone/redstone_block'
	'minecraft:recipes/redstone/redstone_lamp'
	'minecraft:recipes/redstone/redstone_torch'
	'minecraft:recipes/redstone/repeater'
	'minecraft:recipes/redstone/spruce_door'
	'minecraft:recipes/redstone/spruce_fence_gate'
	'minecraft:recipes/redstone/sticky_piston'
	'minecraft:recipes/redstone/stone_button'
	'minecraft:recipes/redstone/stone_pressure_plate'
	'minecraft:recipes/redstone/tnt'
	'minecraft:recipes/redstone/trapdoor'
	'minecraft:recipes/redstone/trapped_chest'
	'minecraft:recipes/redstone/tripwire_hook'
	'minecraft:recipes/redstone/wooden_button'
	'minecraft:recipes/redstone/wooden_door'
	'minecraft:recipes/redstone/wooden_pressure_plate'
	'minecraft:recipes/root'
	'minecraft:recipes/tools/clock'
	'minecraft:recipes/tools/compass'
	'minecraft:recipes/tools/diamond_axe'
	'minecraft:recipes/tools/diamond_hoe'
	'minecraft:recipes/tools/diamond_pickaxe'
	'minecraft:recipes/tools/diamond_shovel'
	'minecraft:recipes/tools/fishing_rod'
	'minecraft:recipes/tools/flint_and_steel'
	'minecraft:recipes/tools/golden_axe'
	'minecraft:recipes/tools/golden_hoe'
	'minecraft:recipes/tools/golden_pickaxe'
	'minecraft:recipes/tools/golden_shovel'
	'minecraft:recipes/tools/iron_axe'
	'minecraft:recipes/tools/iron_hoe'
	'minecraft:recipes/tools/iron_pickaxe'
	'minecraft:recipes/tools/iron_shovel'
	'minecraft:recipes/tools/lead'
	'minecraft:recipes/tools/shears'
	'minecraft:recipes/tools/stone_axe'
	'minecraft:recipes/tools/stone_hoe'
	'minecraft:recipes/tools/stone_pickaxe'
	'minecraft:recipes/tools/stone_shovel'
	'minecraft:recipes/tools/wooden_axe'
	'minecraft:recipes/tools/wooden_hoe'
	'minecraft:recipes/tools/wooden_pickaxe'
	'minecraft:recipes/tools/wooden_shovel'
	'minecraft:recipes/transportation/acacia_boat'
	'minecraft:recipes/transportation/activator_rail'
	'minecraft:recipes/transportation/birch_boat'
	'minecraft:recipes/transportation/boat'
	'minecraft:recipes/transportation/carrot_on_a_stick'
	'minecraft:recipes/transportation/chest_minecart'
	'minecraft:recipes/transportation/dark_oak_boat'
	'minecraft:recipes/transportation/detector_rail'
	'minecraft:recipes/transportation/furnace_minecart'
	'minecraft:recipes/transportation/golden_rail'
	'minecraft:recipes/transportation/hopper_minecart'
	'minecraft:recipes/transportation/jungle_boat'
	'minecraft:recipes/transportation/minecart'
	'minecraft:recipes/transportation/rail'
	'minecraft:recipes/transportation/spruce_boat'
	'minecraft:recipes/transportation/tnt_minecart'
	'minecraft:story/cure_zombie_villager'
	'minecraft:story/deflect_arrow'
	'minecraft:story/enchant_item'
	'minecraft:story/enter_the_end'
	'minecraft:story/enter_the_nether'
	'minecraft:story/follow_ender_eye'
	'minecraft:story/form_obsidian'
	'minecraft:story/iron_tools'
	'minecraft:story/lava_bucket'
	'minecraft:story/mine_diamond'
	'minecraft:story/mine_stone'
	'minecraft:story/obtain_armor'
	'minecraft:story/root'
	'minecraft:story/shiny_gear'
	'minecraft:story/smelt_iron'
	'minecraft:story/upgrade_tools'
]