inventory: [
	'slot.armor.chest'
	'slot.armor.feet'
	'slot.armor.head'
	'slot.armor.legs'
	'slot.container.0'
	'slot.container.1'
	'slot.container.10'
	'slot.container.11'
	'slot.container.12'
	'slot.container.13'
	'slot.container.14'
	'slot.container.15'
	'slot.container.16'
	'slot.container.17'
	'slot.container.18'
	'slot.container.19'
	'slot.container.2'
	'slot.container.20'
	'slot.container.21'
	'slot.container.22'
	'slot.container.23'
	'slot.container.24'
	'slot.container.25'
	'slot.container.26'
	'slot.container.27'
	'slot.container.28'
	'slot.container.29'
	'slot.container.3'
	'slot.container.30'
	'slot.container.31'
	'slot.container.32'
	'slot.container.33'
	'slot.container.34'
	'slot.container.35'
	'slot.container.36'
	'slot.container.37'
	'slot.container.38'
	'slot.container.39'
	'slot.container.4'
	'slot.container.40'
	'slot.container.41'
	'slot.container.42'
	'slot.container.43'
	'slot.container.44'
	'slot.container.45'
	'slot.container.46'
	'slot.container.47'
	'slot.container.48'
	'slot.container.49'
	'slot.container.5'
	'slot.container.50'
	'slot.container.51'
	'slot.container.52'
	'slot.container.53'
	'slot.container.6'
	'slot.container.7'
	'slot.container.8'
	'slot.container.9'
	'slot.enderchest.0'
	'slot.enderchest.1'
	'slot.enderchest.10'
	'slot.enderchest.11'
	'slot.enderchest.12'
	'slot.enderchest.13'
	'slot.enderchest.14'
	'slot.enderchest.15'
	'slot.enderchest.16'
	'slot.enderchest.17'
	'slot.enderchest.18'
	'slot.enderchest.19'
	'slot.enderchest.2'
	'slot.enderchest.20'
	'slot.enderchest.21'
	'slot.enderchest.22'
	'slot.enderchest.23'
	'slot.enderchest.24'
	'slot.enderchest.25'
	'slot.enderchest.26'
	'slot.enderchest.3'
	'slot.enderchest.4'
	'slot.enderchest.5'
	'slot.enderchest.6'
	'slot.enderchest.7'
	'slot.enderchest.8'
	'slot.enderchest.9'
	'slot.horse.0'
	'slot.horse.1'
	'slot.horse.10'
	'slot.horse.11'
	'slot.horse.12'
	'slot.horse.13'
	'slot.horse.14'
	'slot.horse.2'
	'slot.horse.3'
	'slot.horse.4'
	'slot.horse.5'
	'slot.horse.6'
	'slot.horse.7'
	'slot.horse.8'
	'slot.horse.9'
	'slot.horse.armor'
	'slot.horse.chest'
	'slot.horse.saddle'
	'slot.hotbar.0'
	'slot.hotbar.1'
	'slot.hotbar.2'
	'slot.hotbar.3'
	'slot.hotbar.4'
	'slot.hotbar.5'
	'slot.hotbar.6'
	'slot.hotbar.7'
	'slot.hotbar.8'
	'slot.inventory.0'
	'slot.inventory.1'
	'slot.inventory.10'
	'slot.inventory.11'
	'slot.inventory.12'
	'slot.inventory.13'
	'slot.inventory.14'
	'slot.inventory.15'
	'slot.inventory.16'
	'slot.inventory.17'
	'slot.inventory.18'
	'slot.inventory.19'
	'slot.inventory.2'
	'slot.inventory.20'
	'slot.inventory.21'
	'slot.inventory.22'
	'slot.inventory.23'
	'slot.inventory.24'
	'slot.inventory.25'
	'slot.inventory.26'
	'slot.inventory.3'
	'slot.inventory.4'
	'slot.inventory.5'
	'slot.inventory.6'
	'slot.inventory.7'
	'slot.inventory.8'
	'slot.inventory.9'
	'slot.villager.0'
	'slot.villager.1'
	'slot.villager.2'
	'slot.villager.3'
	'slot.villager.4'
	'slot.villager.5'
	'slot.villager.6'
	'slot.villager.7'
	'slot.weapon'
	'slot.weapon.mainhand'
	'slot.weapon.offhand'
]
scoreboard: [
	'belowName'
	'list'
	'sidebar'
	'sidebar.team.aqua'
	'sidebar.team.black'
	'sidebar.team.blue'
	'sidebar.team.dark_aqua'
	'sidebar.team.dark_blue'
	'sidebar.team.dark_gray'
	'sidebar.team.dark_green'
	'sidebar.team.dark_purple'
	'sidebar.team.dark_red'
	'sidebar.team.gold'
	'sidebar.team.gray'
	'sidebar.team.green'
	'sidebar.team.light_purple'
	'sidebar.team.red'
	'sidebar.team.white'
	'sidebar.team.yellow'
]