[
	'minecraft:acacia_bark'
	'minecraft:acacia_door'
	'minecraft:acacia_fence'
	'minecraft:acacia_leaves'
	'minecraft:acacia_log'
	'minecraft:acacia_planks'
	'minecraft:acacia_sapling'
	'minecraft:acacia_sapling_flower_pot'
	'minecraft:acacia_slab'
	'minecraft:acacia_stairs'
	'minecraft:activator_rail'
	'minecraft:air'
	'minecraft:allium'
	'minecraft:allium_flower_pot'
	'minecraft:andesite'
	'minecraft:anvil'
	'minecraft:azure_bluet'
	'minecraft:azure_bluet_flower_pot'
	'minecraft:banner'
	'minecraft:barrier'
	'minecraft:beacon'
	'minecraft:bed'
	'minecraft:bedrock'
	'minecraft:beetroots'
	'minecraft:birch_bark'
	'minecraft:birch_door'
	'minecraft:birch_fence'
	'minecraft:birch_fence_gate'
	'minecraft:birch_leaves'
	'minecraft:birch_log'
	'minecraft:birch_planks'
	'minecraft:birch_sapling'
	'minecraft:birch_sapling_flower_pot'
	'minecraft:birch_slab'
	'minecraft:birch_stairs'
	'minecraft:black_carpet'
	'minecraft:black_concrete'
	'minecraft:black_concrete_powder'
	'minecraft:black_glazed_terracotta'
	'minecraft:black_shulker_box'
	'minecraft:black_stained_glass'
	'minecraft:black_stained_glass_pane'
	'minecraft:black_terracotta'
	'minecraft:black_wool'
	'minecraft:blue_carpet'
	'minecraft:blue_concrete'
	'minecraft:blue_concrete_powder'
	'minecraft:blue_glazed_terracotta'
	'minecraft:blue_orchid'
	'minecraft:blue_orchid_flower_pot'
	'minecraft:blue_shulker_box'
	'minecraft:blue_stained_glass'
	'minecraft:blue_stained_glass_pane'
	'minecraft:blue_terracotta'
	'minecraft:blue_wool'
	'minecraft:bone_block'
	'minecraft:bookshelf'
	'minecraft:brewing_stand'
	'minecraft:brick_slab'
	'minecraft:brick_stairs'
	'minecraft:bricks'
	'minecraft:brown_carpet'
	'minecraft:brown_concrete'
	'minecraft:brown_concrete_powder'
	'minecraft:brown_glazed_terracotta'
	'minecraft:brown_mushroom'
	'minecraft:brown_mushroom_block'
	'minecraft:brown_mushroom_flower_pot'
	'minecraft:brown_shulker_box'
	'minecraft:brown_stained_glass'
	'minecraft:brown_stained_glass_pane'
	'minecraft:brown_terracotta'
	'minecraft:brown_wool'
	'minecraft:cactus'
	'minecraft:cactus_flower_pot'
	'minecraft:cake'
	'minecraft:carrots'
	'minecraft:cauldron'
	'minecraft:chain_command_block'
	'minecraft:chest'
	'minecraft:chipped_anvil'
	'minecraft:chiseled_quartz'
	'minecraft:chiseled_red_sandstone'
	'minecraft:chiseled_sandstone'
	'minecraft:chiseled_stone_bricks'
	'minecraft:chorus_flower'
	'minecraft:chorus_plant'
	'minecraft:clay'
	'minecraft:coal_block'
	'minecraft:coal_ore'
	'minecraft:coarse_dirt'
	'minecraft:cobblestone'
	'minecraft:cobblestone_slab'
	'minecraft:cobblestone_stairs'
	'minecraft:cobblestone_wall'
	'minecraft:cobweb'
	'minecraft:cocoa'
	'minecraft:command_block'
	'minecraft:comparator'
	'minecraft:cracked_stone_bricks'
	'minecraft:crafting_table'
	'minecraft:creeper_head'
	'minecraft:cut_red_sandstone'
	'minecraft:cut_sandstone'
	'minecraft:cyan_carpet'
	'minecraft:cyan_concrete'
	'minecraft:cyan_concrete_powder'
	'minecraft:cyan_glazed_terracotta'
	'minecraft:cyan_shulker_box'
	'minecraft:cyan_stained_glass'
	'minecraft:cyan_stained_glass_pane'
	'minecraft:cyan_terracotta'
	'minecraft:cyan_wool'
	'minecraft:damaged_anvil'
	'minecraft:dandelion'
	'minecraft:dandelion_flower_pot'
	'minecraft:dark_oak_bark'
	'minecraft:dark_oak_door'
	'minecraft:dark_oak_fence'
	'minecraft:dark_oak_fence_gate'
	'minecraft:dark_oak_leaves'
	'minecraft:dark_oak_log'
	'minecraft:dark_oak_planks'
	'minecraft:dark_oak_sapling'
	'minecraft:dark_oak_sapling_flower_pot'
	'minecraft:dark_oak_slab'
	'minecraft:dark_oak_stairs'
	'minecraft:dark_prismarine'
	'minecraft:daylight_detector'
	'minecraft:dead_bush'
	'minecraft:dead_bush_flower_pot'
	'minecraft:detector_rail'
	'minecraft:diamond_block'
	'minecraft:diamond_ore'
	'minecraft:diorite'
	'minecraft:dirt'
	'minecraft:dispenser'
	'minecraft:dragon_egg'
	'minecraft:dragon_head'
	'minecraft:dropper'
	'minecraft:emerald_block'
	'minecraft:emerald_ore'
	'minecraft:enchanting_table'
	'minecraft:end_gateway'
	'minecraft:end_portal'
	'minecraft:end_portal_frame'
	'minecraft:end_rod'
	'minecraft:end_stone'
	'minecraft:end_stone_bricks'
	'minecraft:ender_chest'
	'minecraft:farmland'
	'minecraft:fern'
	'minecraft:fern_flower_pot'
	'minecraft:fire'
	'minecraft:flower_pot'
	'minecraft:flowing_lava'
	'minecraft:flowing_water'
	'minecraft:frosted_ice'
	'minecraft:furnace'
	'minecraft:glass'
	'minecraft:glass_pane'
	'minecraft:glowstone'
	'minecraft:gold_block'
	'minecraft:gold_ore'
	'minecraft:granite'
	'minecraft:grass'
	'minecraft:grass_block'
	'minecraft:grass_path'
	'minecraft:gravel'
	'minecraft:gray_carpet'
	'minecraft:gray_concrete'
	'minecraft:gray_concrete_powder'
	'minecraft:gray_glazed_terracotta'
	'minecraft:gray_shulker_box'
	'minecraft:gray_stained_glass'
	'minecraft:gray_stained_glass_pane'
	'minecraft:gray_terracotta'
	'minecraft:gray_wool'
	'minecraft:green_carpet'
	'minecraft:green_concrete'
	'minecraft:green_concrete_powder'
	'minecraft:green_glazed_terracotta'
	'minecraft:green_shulker_box'
	'minecraft:green_stained_glass'
	'minecraft:green_stained_glass_pane'
	'minecraft:green_terracotta'
	'minecraft:green_wool'
	'minecraft:hay_bale'
	'minecraft:heavy_weighted_pressure_plate'
	'minecraft:hopper'
	'minecraft:ice'
	'minecraft:infested_chiseled_stone_bricks'
	'minecraft:infested_cobblestone'
	'minecraft:infested_cracked_stone_bricks'
	'minecraft:infested_mossy_stone_bricks'
	'minecraft:infested_stone'
	'minecraft:infested_stone_bricks'
	'minecraft:iron_bars'
	'minecraft:iron_block'
	'minecraft:iron_door'
	'minecraft:iron_ore'
	'minecraft:iron_trapdoor'
	'minecraft:jack_o_lantern'
	'minecraft:jukebox'
	'minecraft:jungle_bark'
	'minecraft:jungle_door'
	'minecraft:jungle_fence'
	'minecraft:jungle_fence_gate'
	'minecraft:jungle_leaves'
	'minecraft:jungle_log'
	'minecraft:jungle_planks'
	'minecraft:jungle_sapling'
	'minecraft:jungle_sapling_flower_pot'
	'minecraft:jungle_slab'
	'minecraft:jungle_stairs'
	'minecraft:ladder'
	'minecraft:lapis_block'
	'minecraft:lapis_ore'
	'minecraft:large_fern'
	'minecraft:lava'
	'minecraft:lever'
	'minecraft:light_blue_carpet'
	'minecraft:light_blue_concrete'
	'minecraft:light_blue_concrete_powder'
	'minecraft:light_blue_glazed_terracotta'
	'minecraft:light_blue_shulker_box'
	'minecraft:light_blue_stained_glass'
	'minecraft:light_blue_stained_glass_pane'
	'minecraft:light_blue_terracotta'
	'minecraft:light_blue_wool'
	'minecraft:light_gray_carpet'
	'minecraft:light_gray_concrete'
	'minecraft:light_gray_concrete_powder'
	'minecraft:light_gray_glazed_terracotta'
	'minecraft:light_gray_shulker_box'
	'minecraft:light_gray_stained_glass'
	'minecraft:light_gray_stained_glass_pane'
	'minecraft:light_gray_terracotta'
	'minecraft:light_gray_wool'
	'minecraft:light_weighted_pressure_plate'
	'minecraft:lilac'
	'minecraft:lily_pad'
	'minecraft:lime_carpet'
	'minecraft:lime_concrete'
	'minecraft:lime_concrete_powder'
	'minecraft:lime_glazed_terracotta'
	'minecraft:lime_shulker_box'
	'minecraft:lime_stained_glass'
	'minecraft:lime_stained_glass_pane'
	'minecraft:lime_terracotta'
	'minecraft:lime_wool'
	'minecraft:magenta_carpet'
	'minecraft:magenta_concrete'
	'minecraft:magenta_concrete_powder'
	'minecraft:magenta_glazed_terracotta'
	'minecraft:magenta_shulker_box'
	'minecraft:magenta_stained_glass'
	'minecraft:magenta_stained_glass_pane'
	'minecraft:magenta_terracotta'
	'minecraft:magenta_wool'
	'minecraft:magma_block'
	'minecraft:melon_block'
	'minecraft:melon_plant'
	'minecraft:melon_stem'
	'minecraft:mob_spawner'
	'minecraft:mossy_cobblestone'
	'minecraft:mossy_cobblestone_wall'
	'minecraft:mossy_stone_bricks'
	'minecraft:mycelium'
	'minecraft:nether_brick_fence'
	'minecraft:nether_brick_slab'
	'minecraft:nether_brick_stairs'
	'minecraft:nether_bricks'
	'minecraft:nether_portal'
	'minecraft:nether_quartz_ore'
	'minecraft:nether_wart'
	'minecraft:nether_wart_block'
	'minecraft:netherrack'
	'minecraft:note_block'
	'minecraft:oak_bark'
	'minecraft:oak_door'
	'minecraft:oak_fence'
	'minecraft:oak_fence_gate'
	'minecraft:oak_leaves'
	'minecraft:oak_log'
	'minecraft:oak_planks'
	'minecraft:oak_sapling'
	'minecraft:oak_sapling_flower_pot'
	'minecraft:oak_slab'
	'minecraft:oak_stairs'
	'minecraft:observer'
	'minecraft:obsidian'
	'minecraft:orange_carpet'
	'minecraft:orange_concrete'
	'minecraft:orange_concrete_powder'
	'minecraft:orange_glazed_terracotta'
	'minecraft:orange_shulker_box'
	'minecraft:orange_stained_glass'
	'minecraft:orange_stained_glass_pane'
	'minecraft:orange_terracotta'
	'minecraft:orange_tulip'
	'minecraft:orange_tulip_flower_pot'
	'minecraft:orange_wool'
	'minecraft:oxeye_daisy'
	'minecraft:oxeye_daisy_flower_pot'
	'minecraft:packed_ice'
	'minecraft:peony'
	'minecraft:petrified_oak_slab'
	'minecraft:pink_carpet'
	'minecraft:pink_concrete'
	'minecraft:pink_concrete_powder'
	'minecraft:pink_glazed_terracotta'
	'minecraft:pink_shulker_box'
	'minecraft:pink_stained_glass'
	'minecraft:pink_stained_glass_pane'
	'minecraft:pink_terracotta'
	'minecraft:pink_tulip'
	'minecraft:pink_tulip_flower_pot'
	'minecraft:pink_wool'
	'minecraft:piston'
	'minecraft:piston_extension'
	'minecraft:piston_head'
	'minecraft:player_head'
	'minecraft:podzol'
	'minecraft:polished_andesite'
	'minecraft:polished_diorite'
	'minecraft:polished_granite'
	'minecraft:poppy'
	'minecraft:poppy_flower_pot'
	'minecraft:potatoes'
	'minecraft:powered_rail'
	'minecraft:prismarine'
	'minecraft:prismarine_bricks'
	'minecraft:pumpkin'
	'minecraft:pumpkin_plant'
	'minecraft:pumpkin_stem'
	'minecraft:purple_carpet'
	'minecraft:purple_concrete'
	'minecraft:purple_concrete_powder'
	'minecraft:purple_glazed_terracotta'
	'minecraft:purple_shulker_box'
	'minecraft:purple_stained_glass'
	'minecraft:purple_stained_glass_pane'
	'minecraft:purple_terracotta'
	'minecraft:purple_wool'
	'minecraft:purpur_block'
	'minecraft:purpur_pillar'
	'minecraft:purpur_slab'
	'minecraft:purpur_stairs'
	'minecraft:quartz_block'
	'minecraft:quartz_pillar'
	'minecraft:quartz_slab'
	'minecraft:quartz_stairs'
	'minecraft:rail'
	'minecraft:red_carpet'
	'minecraft:red_concrete'
	'minecraft:red_concrete_powder'
	'minecraft:red_glazed_terracotta'
	'minecraft:red_mushroom'
	'minecraft:red_mushroom_block'
	'minecraft:red_mushroom_flower_pot'
	'minecraft:red_nether_bricks'
	'minecraft:red_sand'
	'minecraft:red_sandstone'
	'minecraft:red_sandstone_slab'
	'minecraft:red_sandstone_stairs'
	'minecraft:red_shulker_box'
	'minecraft:red_stained_glass'
	'minecraft:red_stained_glass_pane'
	'minecraft:red_terracotta'
	'minecraft:red_tulip'
	'minecraft:red_tulip_flower_pot'
	'minecraft:red_wool'
	'minecraft:redstone_block'
	'minecraft:redstone_lamp'
	'minecraft:redstone_ore'
	'minecraft:redstone_torch'
	'minecraft:redstone_wire'
	'minecraft:repeater'
	'minecraft:repeating_command_block'
	'minecraft:rose_bush'
	'minecraft:sand'
	'minecraft:sandstone'
	'minecraft:sandstone_slab'
	'minecraft:sandstone_stairs'
	'minecraft:sea_lantern'
	'minecraft:sign'
	'minecraft:skeleton_skull'
	'minecraft:slime_block'
	'minecraft:smooth_red_sandstone'
	'minecraft:smooth_sandstone'
	'minecraft:smooth_stone'
	'minecraft:snow'
	'minecraft:snow_block'
	'minecraft:soul_sand'
	'minecraft:sponge'
	'minecraft:spruce_bark'
	'minecraft:spruce_door'
	'minecraft:spruce_fence'
	'minecraft:spruce_fence_gate'
	'minecraft:spruce_leaves'
	'minecraft:spruce_log'
	'minecraft:spruce_planks'
	'minecraft:spruce_sapling'
	'minecraft:spruce_sapling_flower_pot'
	'minecraft:spruce_slab'
	'minecraft:spruce_stairs'
	'minecraft:sticky_piston'
	'minecraft:stone'
	'minecraft:stone_brick_slab'
	'minecraft:stone_brick_stairs'
	'minecraft:stone_bricks'
	'minecraft:stone_button'
	'minecraft:stone_pressure_plate'
	'minecraft:stone_slab'
	'minecraft:structure_block'
	'minecraft:structure_void'
	'minecraft:sugar_cane'
	'minecraft:sunflower'
	'minecraft:tall_grass'
	'minecraft:terracotta'
	'minecraft:tnt'
	'minecraft:torch'
	'minecraft:trapped_chest'
	'minecraft:tripwire'
	'minecraft:tripwire_hook'
	'minecraft:vine'
	'minecraft:wall_banner'
	'minecraft:wall_creeper_head'
	'minecraft:wall_dragon_head'
	'minecraft:wall_player_head'
	'minecraft:wall_redstone_torch'
	'minecraft:wall_sign'
	'minecraft:wall_skeleton_skull'
	'minecraft:wall_torch'
	'minecraft:wall_wither_skeleton_skull'
	'minecraft:wall_zombie_head'
	'minecraft:water'
	'minecraft:wet_sponge'
	'minecraft:wheat'
	'minecraft:white_carpet'
	'minecraft:white_concrete'
	'minecraft:white_concrete_powder'
	'minecraft:white_glazed_terracotta'
	'minecraft:white_shulker_box'
	'minecraft:white_stained_glass'
	'minecraft:white_stained_glass_pane'
	'minecraft:white_terracotta'
	'minecraft:white_tulip'
	'minecraft:white_tulip_flower_pot'
	'minecraft:white_wool'
	'minecraft:wither_skeleton_skull'
	'minecraft:wooden_button'
	'minecraft:wooden_pressure_plate'
	'minecraft:wooden_trapdoor'
	'minecraft:yellow_carpet'
	'minecraft:yellow_concrete'
	'minecraft:yellow_concrete_powder'
	'minecraft:yellow_glazed_terracotta'
	'minecraft:yellow_shulker_box'
	'minecraft:yellow_stained_glass'
	'minecraft:yellow_stained_glass_pane'
	'minecraft:yellow_terracotta'
	'minecraft:yellow_wool'
	'minecraft:zombie_head'
]